/*
позволяет подключать scss без создания второго файла css
нужно просто переименовать импортируемый scss файл  добавив нижнее подчёркивание в название файла
и убрать расширение файла в основном scss. всё как в примере
*/
@import "_header";

body{
	font-size: 20px;
	div{
		 font-size: 10px;
	}
	p{
		font-size: 10px;
	}
}
